<a href="https://colab.research.google.com/github/knimje/armstrong-number-between-1-to-10000/blob/main/functions_and_module_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=45
def mul():
    y=x+89
    print(y)
mul()

134

In [ ]:
x="kritika "
def con():
  y = "nimje"
  print(x + y)
con()

kritika nimje

In [ ]:
x = 5
i=1
mul=1
def multable():
   for i in range(1,11):
        mul=x*i
        print(mul)
        i+=1
multable()

5
10
15
20
25
30
35
40
45
50

In [ ]:
a= int(input("enter the first num:"))
b=int(input("enter the next num"))
print(a+b)

enter the first num:7
enter the next num3
10

In [ ]:
x= (input("enter the first num:"))
y=(input("enter the next num:"))
print(x+y)

enter the first num:5
enter the next num:6
56

yaha maine input main liya hai lekin usse int define nhi kiya hai toh voh concatinate ho raha hai

In [ ]:

c,d=input("enter two numbers:").split()
int(c)+int(d)

enter two numbers:6 7

13

In [ ]:
x = int(input("enter a number: "))
i=1
mul=1
def multable():
   for i in range(1,11):
        mul=x*i
        print(mul)
        i+=1
multable()

enter a number: 2
2
4
6
8
10
12
14
16
18
20

In [ ]:
a=0b100
b=0o170
c=99
d=0x10a
print(a,b,c,d)
print(int("322",4)) #how will 322 be represented in integer literals of base 4
print(bin(112))
print(bin(c))
print(bin(d))

4 120 99 266
58
0b1110000
0b1100011
0b100001010

In [ ]:
 def conca(name):
  print(name + "you are a fool")

conca("kritika ")
conca("abhishek ")
conca("Sucheti ")

kritika you are a fool
abhishek you are a fool
Sucheti you are a fool

In [ ]:
b=0o170
print(bin(b))

0b1111000

In [ ]:
def square( num ):
    return num**2
object_ = square(6)
print( "The square of the given number is: ", object_ )

The square of the given number is:  36

In [ ]:
#squaring the numbers in the list using functions
def square1(a):                   #parameter mai list input karni hai
    evaluate=[]                      #new list is been made
    for i in a:
        evaluate.append(i**2)           # append the new numbers in the list
    return evaluate
a=[17,52,8]
result=square1(a)
print("square of the list are : ",result)
print("square of the list are : ",square1(a))

square of the list are :  [289, 2704, 64]
square of the list are :  [289, 2704, 64]

In [ ]:
# convert the names in the list in upper case
def cap(b):
    """kritika"""
    new_l=[]
    for i in b:
        new_l.append(i.upper())
    return new_l
b=["kritika","abhishek","sucheti","shreyash"]
print("uppercase of list names are : ",cap(b))
print(help(cap))

uppercase of list names are :  ['KRITIKA', 'ABHISHEK', 'SUCHETI', 'SHREYASH']
Help on function cap in module __main__:

cap(b)
    kritika

None

In [ ]:
a= int(input())              #int initiallise karna important hai
def result(a):          #yaha do arguements important hai
    sum=int(0)
    while a!=0:
        sum=sum+a%10
        a=a//10
    return sum              #return ke bina nhi hoga
print(result(a))

234
9

In [ ]:
#write a user define function that prints the count of vowels in the name entered by the user
name=input("enter your name ")
l=["a","e","i","o","u","A","E","I","O","U"]
def vowel(name):
    count=0
    for i in name:
        for j in l:
            if i ==j:
                count+=1
                print(i)
    print(count)
vowel(name)

In [ ]:
a="kritika"
for i in a:
    print(i)

k
r
i
t
i
k
a

In [ ]:
def rev(p):
    x=0
    while p!=0:
        x=x*10+p%10
        p=p//10
    print(x)
rev(12345)

54321

140702134909360

140702134909520

In [ ]:
#create a rock paper scissor with computer
import random
list=["rock","scissor","paper"]
def computer():
    player=comp=0
    game=0
    while game<5:
        user=input()
        i=random.randint(0,2)
        print("\t\t",list[i])
        if (user=="rock" and list[i]=="scissor") or (user=="scissor" and list[i]=="paper") or (user=="paper" and list[i]=="rock"):
            player+=1
            comp+=0
            print("\t\t",player,"\t",comp)
        elif (user=="scissor" and list[i]=="rock") or (user=="paper" and list[i]=="scissor") or (user=="rock" and list[i]=="paper"):
              player+=0
              comp+=1
              print("\t\t",player,"\t",comp)
        else :
            player+=0
            comp+=0
            print("\t\t",player,"\t",comp)
        game+=1
    if player==comp:
        print("tie")
    elif player>comp:
        print("You Win")
    else:
        print("You Lose")

computer()

rock
		 rock
		 0 	 0
paper
		 scissor
		 0 	 1
rock
		 paper
		 0 	 2
rock
		 rock
		 0 	 2
scissor
		 paper
		 1 	 2
You Lose

In [ ]:
def f(lst,i,ele):

In [ ]:
def f():
    print(1)
    pass
print(f())
print("True") if f() else print("False")

1
None
1
False

In [ ]:
def pow(x,y=2):
    return x**y
print(f"the pow(4) is {pow(4)}")
print(f"the pow(5,3) is {pow(5,3)}")
print(f"the pow(5) is {pow(5)}")

the pow(4) is 16
the pow(5,3) is 125
the pow(5) is 25

humne already default parameter de rakha hai issiliye hume one ya two arguements sai bhi use kar sakte
default arguement humesha last mai aata hai

In [ ]:
def spow(x,y=2,z=2):
    return (x**y)**z
print(f"the spow(4) is {spow(4)}")
print(f"the spow(5,3) is {spow(5,3)}")
print(f"the spow(5,3,3) is {spow(5,3,3)}")

the spow(4) is 256
the spow(5,3) is 15625
the spow(5,3,3) is 1953125

In [ ]:
i=5
print(f"the arg outside the ftn is {i}")
def f(arg=i):
    print(f"the arg is {arg}")

i=7
f()
f(6)
f()
print(f"the arg outside the ftn is {i}")

the arg outside the ftn is 5
the arg is 5
the arg is 6
the arg is 5
the arg outside the ftn is 7

In [ ]:
#ask the user what kind of pattern does it want then print the pattern
print("square,\nhollow sq,\ntleft right tri,\nright side tri,\nupward tri,\nlower triangle")
a=input("what kind of pattern is required ")
if a=="square":
    rows = int(input("Enter the number of rows: "))
    for i in range(1, rows + 1):
        for j in range(1, rows + 1):
            # Check condition if value of j is smaller or equal than
            # the j then print i otherwise print j
            if j <= i:
                print("*", end=' ')
            else:
                print('*', end=' ')
        print()


if a=="hollow sq":
    rows = int(input("Enter the number of rows: "))
    for i in range(1, rows + 1):
        for j in range(1, rows + 1):
            # Check condition if value of j is smaller or equal than
            # the j then print i otherwise print j
            if (i==1 and i<=j) or (j==1 and i>=j) or (i==rows and i>=j) or (j==rows and i<=j):
                print("*", end=' ')
            else:
                print(' ', end=' ')
        print()


if a=="left right tri":
    rows = int(input("Enter the number of rows: "))
    for i in range(1, rows + 1):
        for j in range(1, rows + 1):
            # Check condition if value of j is smaller or equal than
            # the j then print i otherwise print j
            if (i==j) or (j==1 and i>=j) or (i==rows and i>=j):
                print("*", end=' ')
            else:
                print(' ', end=' ')
        print()


if a=="right side tri":
    rows = int(input("Enter the number of rows: "))
    for i in range(1, rows + 1):
        for j in range(1, rows + 1):
            # Check condition if value of j is smaller or equal than
            # the j then print i otherwise print j
            if (i==rows and i>=j) or (j==rows and i<=j) or (i+j==rows+1):
                print("*", end=' ')
            else:
                print(' ', end=' ')
        print()


if a=="heart":
    rows = int(input("Enter the number of odd rows greater than 5: "))
    for i in range(1, rows + 1):
        for j in range(1, rows + 1):
            half = (rows/2)+0.5
            if (i+j==rows and i>j) or (i+j==rows+half) or (i>j and i-j==half-1) or (i<j and j>=half) or ((i>=2 or i<=half) and (j==1 or j==9)):
                print("*", end=' ')
            else:
                print(' ', end=' ')
        print()

square,
hollow sq,
tleft right tri,
right side tri,
upward tri,
lower triangle
what kind of pattern is required heart
Enter the number of odd rows greater than 5: 9
*       * * * * *
*       * * * * *
*       * * * * *
*       * * * * *
*     *   * * * *
* * *       * * *
* * *       * * *
*     *   *     *
*       *       *

In [ ]:
#wap to show use of default arguements by  writing a funcion to find factorial of a number
def fact(b=5):
    mul=1
    for i in range(1,b):
        mul*=i
        print(mul,i)
    return mul
fact(8)

1 1
2 2
6 3
24 4
120 5
720 6
5040 7

5040

In [ ]:
number = 2.5
rounded_number = round(number)
print(rounded_number)

3

In [ ]:
(reverse-i-search)'fact': def fact(b)

SyntaxError: ignored